@font-face {
    font-family: Quicksand;
    src: url("/fonts/Quicksand-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'FontAwesome';
    src: url("/fonts/fontawesome-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

body > *{
    font-weight: 900;
    text-shadow: 0 0 11px red;
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-size: 24px;
    letter-spacing: 5px;
}

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px red;
}

.ms-list{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.ms-list .ms-link{
    display: block;
    padding: 8px 10px;
}
